/* Utilities */

.spinner-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Component Styling */
.homeScreen .goldbtn {
  color: white;
  background-color: #ff9e24;
}
.homeScreen .purplebtn {
  color: white;
  background-color: #000066;
}

/* SliderAnimation */
.homeScreen .slider-text-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeScreen .slider-container {
  width: fit-content;
  height: 59px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.homeScreen .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.homeScreen .slider-item.active {
  opacity: 1;
}

/* Navbar */

.nav-items {
  display: flex;
  align-items: center; /* add this */
  justify-content: center;
}

.nav-items ul {
  list-style: none;
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between; /* Add this line */
  gap: 20px; /* Add this line */
  margin-left: 10px;
}
.nav-items ul li {
  font-weight: 600;
}

.nav-items .navBtns {
  margin-left: 725px;
  margin-top: 16px;
}

.nav-items .navBtns Button {
  margin: auto 18px auto auto;
}

/* Dropdown button */
.dropbtn {
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Home Screen */
.homeScreen .landingScreen {
  background: url('./images/homebg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 462px;
}

.homeScreen .text {
  margin-left: 17px;
}

.homeScreen .homeCards {
  margin-top: 15px;
  margin-left: 75px;
}

/* DoctorListScreen */
.doctorListScreen {
  display: flex;
  justify-content: center;
  background-color: #f7f8fb;
}

.doctorListScreen .card {
  margin-top: 30px;
}

.doctorListScreen .cardText {
  margin-top: 30px;
  margin-left: 30px;
}

.doctorListScreen .goldbtn {
  color: white;
  background-color: #ff9e24;
}

.doctorListScreen .bookbtn {
  width: 221px;
  height: 50px;
}
